.text-right {
    float: right;
}

.column-group-container {
    display: flex;
    width: 800px;
}

.column-group {
    font-size: 0.9em;
    margin: 0.5em;
    padding: 0.3em 0.5em;
    width: min-content;
    border: 1px solid var(--src-fg-color);
    flex: 1;
}

.column-group:first-child {
    margin-left: 0em;
}

.column-group:last-child {
    margin-right: 0em;
}

.row {
    text-align: center;
}

.param-row > label {
    display: inline-block;
}

.param-row > input, .param-row > select {
    float: right;
}

.button-row {
    display: flex;
}

.button-row > button {
    margin: 0em 0.2em;
}

input[type=""], select {
    text-align: right;
    width: 200px;
    background: var(--src-bg-color);
    color: var(--src-fg-color);
}

input[type=""]:focus {
    border: 1px solid var(--text-color);
}

input[type="color"] {
    width: 60px;
    height: 1em;
}

button {
    width: 100%;
    padding: 0.1em;
    margin: 0em;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd:before {
    content: ":";
    margin-right: 1em;
}

dd {
    margin-left: 1em;
    grid-column-start: 2;
}

#canvas0 {
    touch-action: none;
    width: 800px;
    height: 600px;
}

#canvas1 {
    touch-action: none;
    width: 800px;
    height: 100px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.key-value-input {
    margin-right: 1.0rem;
}

.kv-entry {
    display: flex;
}

.kv-button-remove {
    width: 2em;
}

.kv-input-key {
    text-align: left !important;
    width: 4em !important;
}

.kv-input-value {
    text-align: left !important;
    width: 100% !important;
}

.rgba-input {
    display: flex;
    float: right;
    width: 200px;
    margin-right: 1.0rem;
}

.rgba-input-color {
    width: 100px !important;
}

.rgba-input-alpha {
    width: 100% !important;
}

